<div id="page-register" class="page well well-lg row">
    <h1 class="page-header text-center">GY PhoneGap Build</h1>

    <div class="text-center col-sm-4">
        <span class="logo"></span>
    </div>

    <div class="col-sm-8">
        <div class="alert alert-danger hide"></div>
        
        <form>
            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="Ad" required autofocus>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <input name="surname" type="text" class="form-control" placeholder="Soyad" required>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="E-posta" required>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Kullanıcı Adı" required>
                <p class="help-block"></p>
            </div>

            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Şifre" required>
                <p class="help-block"></p>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Kayıt Ol</button>
        </form>
    </div>

    <a href="#login" class="btn">&laquo; Giriş Yap</a>
</div>