@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
/* line 7, ../sass/app.scss */
body {
  font-family: "Open Sans", sans-serif !important;
}

/* line 11, ../sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif !important;
}

/* line 15, ../sass/app.scss */
.logo {
  display: inline-block;
  background-image: url(http://phonegap.com/uploads/artwork/Build-Bot2.png);
  vertical-align: middle;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 24, ../sass/app.scss */
.form-control {
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 30, ../sass/app.scss */
.form-control:focus {
  z-index: 2;
}

/* line 35, ../sass/app.scss */
.help-block {
  margin-left: 5px;
}

/* line 40, ../sass/app.scss */
.page .page-header {
  margin-top: 0;
  font-size: 50px;
}

/* line 46, ../sass/app.scss */
#page-login, #page-register {
  max-width: 800px;
  margin: 20px auto !important;
}
/* line 50, ../sass/app.scss */
#page-login .logo, #page-register .logo {
  width: 200px;
  height: 200px;
}

/* line 59, ../sass/app.scss */
#page-login form {
  margin-top: 20px;
}
/* line 63, ../sass/app.scss */
#page-login .or {
  margin-top: 20px;
}

/* line 68, ../sass/app.scss */
#page-register {
  padding-bottom: 10px;
}
/* line 71, ../sass/app.scss */
#page-register [href="#login"] {
  margin-top: 10px;
}

/* line 76, ../sass/app.scss */
#page-home {
  margin-top: 100px;
}
/* line 79, ../sass/app.scss */
#page-home header {
  margin-bottom: 30px;
}

/* line 85, ../sass/app.scss */
.app .app-name {
  margin-top: 10px;
}
/* line 89, ../sass/app.scss */
.app .app-qr-code {
  width: 135px;
  margin-bottom: 20px;
}
/* line 94, ../sass/app.scss */
.app .app-details {
  font-size: .8em;
}
/* line 97, ../sass/app.scss */
.app .app-details tr td:nth-child(odd) {
  font-weight: bold;
}
/* line 101, ../sass/app.scss */
.app .app-details tr td:nth-child(even) {
  text-align: right;
}
