<form class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Yeni Uygulama</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input name="repo_uri" type="text" class="form-control" placeholder="Uygulama kodunuzun bulunduğu git adresi" required>
                    <p class="help-block"></p>
                    <p class="help-block"><em>Ör: https://github.com/Turkcell/RestaurantReviews.git</em></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-lg btn-primary">Gönder</button>
            </div>
        </div>
    </div>
</form>