@import "compass/css3";

.page-auth {
  max-width: 800px;
  margin: 20px auto !important;

  .page-header {
    margin-top: 0;
    font-size: 50px;
  }

  .logo {
    $size: 200px;

    width: $size;
    height: $size;
  }

  .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;

    &:focus {
      z-index: 2;
    }
  }
}

#page-login {
  form {
    margin-top: 20px;
  }

  .or {
    margin-top: 20px;
  }
}

#page-register {
  padding-bottom: 10px;

  [href="#login"] {
    margin-top: 10px;
  }
}