@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

$font: 'Open Sans', sans-serif !important;

body {
  font-family: $font;
}

#{headers(all)} {
  font-family: $font;
}

.logo {
  $logo: 'http://phonegap.com/uploads/artwork/Build-Bot2.png';

  display: inline-block;
  background-image: image-url($logo);
  vertical-align: middle;
  @include background-size(contain);
}

.form-control {
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;

  &:focus {
    z-index: 2;
  }
}

.help-block {
  margin-left: 5px;
}

.page {
  .page-header {
    margin-top: 0;
    font-size: 50px;
  }
}

#page-login, #page-register {
  max-width: 800px;
  margin: 20px auto !important;

  .logo {
    $size: 200px;

    width: $size;
    height: $size;
  }
}

#page-login {
  form {
    margin-top: 20px;
  }

  .or {
    margin-top: 20px;
  }
}

#page-register {
  padding-bottom: 10px;

  [href="#login"] {
    margin-top: 10px;
  }
}

#page-home {
  margin-top: 100px;

  header {
    margin-bottom: 30px;
  }
}

.app {
  .app-name {
    margin-top: 10px;
  }

  .app-details {
    font-size: .8em;

    tr td:nth-child(odd) {
      font-weight: bold;
    }

    tr td:nth-child(even) {
      text-align: right;
    }
  }
}